html, body{
    background-color: #f1f1f1;
}

/* p{
    color: red;
    margin-top: 0;
}

#par-gr{
    color: green;
}

.white-txt{
    color: blue!important;
} */

.w-50{
    width: 50%;
}

.w-40 {
    width: 40%;
}

.edit-cell {
    text-align: center;
}

.edit-cell a {
    text-decoration: none;
    background-color: rgb(55, 100, 212);
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: white;
    border-radius: 4px;
}

.edit-cell a:hover {
    background-color: rgb(55, 82, 210);
}

 table.contained {
    margin: 0 15%;
    width: 70%;
} 

table {
    /* border: 1px solid black; */
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}

tr {
    border-bottom: 1px solid #b3b3b3;
}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td {
    text-align: right;
}

small {
    font-size: 12px;
}

ul.navlist {
    list-style-type: none;
    text-align: center;
}

ul.navlist li {
    display: inline;
}

.text-center {
    text-align: center;
}

div#titulos .algo {
    margin-bottom: 24px;
    font-size: 3em;
}

.card {
    background-color: #b3b3b3;
    box-shadow: 0px 8px 20px -8px black;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

#titulo_form {
    text-align: center;
}

.forms {
    font-size: larger;
    padding: 8px;
    margin: 0 20px;
}

 /* #box_1 {
    
}   */

/* #bot_1 {
    
}  */

* {
    font-family: 'Poppins';
}

.asi_1 ul li a {
    background-color: rgb(91, 91, 175);
    color: rgb(245, 246, 247);
    text-decoration: none;
    padding: 8px 10px; 
    border-radius: 6px;
    display: inline-block;
    margin: 2px 0;
    font-size: large;
}

#h2_1 {
    text-align: center;
    font-size: 33px;
}

.asi_1 ul li a:hover {
    background-color: rgb(82, 82, 187);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    html, body {
        background-color: darkseagreen;
    }
        ul.navlist {
            margin: 0 48px;
        }

        ul.navlist li a {
            display: block;
        }
    
}

/* file:///C:/Users/gschirmer/Documents/Primeiro/html/Primeiro%20html.html */